# Copy and paste the contents of this file into the alias declarations
# of your shell config (e.g. `~/.zshrc`), or import it directly.

#==================================================================
# General
#==================================================================

# Shortcut for adding a private ssh key to the macOS keychain.
# Example: `ssh:keychain id_rsa`
# See: https://apple.stackexchange.com/a/250572
# ssh:keychain() {
#   if ["$1" != ""]
#   then
#     ssh-add --apple-use-keychain ~/.ssh/"$1"
#   fi
# }

#==================================================================
# General shortcuts
#==================================================================

alias del='rm -rf'

#==================================================================
# Git shortcuts
#==================================================================

alias cdgitroot='cd "$(git rev-parse --show-toplevel)"'
alias gl='git log --no-merges --pretty="%C(cyan)%h%Creset %C(white)%s %Creset%n        %cn %C(magenta)%cd%Creset" --date=relative -n';
alias grh='git reset HEAD --hard'
alias gs='git status -uno'
alias gm='git commit -m'
alias gma='git commit --amend'
alias gam='git commit -am'
alias gca='git commit -a -m'
alias gf='git fetch '
alias gco='git checkout'
alias gcom='git checkout main'
alias gaa='git add .'
alias gp='git push'

#==================================================================
# npm / Yarn shortcuts
#==================================================================

alias yrm='rm -rf node_modules package-lock.json yarn.lock && yarn install'
alias nrm='rm -rf node_modules package-lock.json && npm install'
